@font-face {
    font-family: Poppins;
    src: url(fonts/Elecstrom\ Font\ -\ Free\ Trial.ttf);
}

:root {
    --bg-color: #feebc0;
    --bg-color-dark:#10103f;
    --main-color: #5D3FD3;
    --txt-color5: #000100;
}

#Body{
    background-color: var(--bg-color-dark) ; 
    font-family: Poppins;
}

#header{
    background-color: var(--main-color) !important;
}

.weatherCondition{
    width: 80%;
    height: 500px;
    border: 2px solid var(--main-color);
    border: none;
    background:linear-gradient(to bottom, #246fa8 0%, #5D3FD3 100%);
    border-radius: 15px;
    margin: 5% auto;
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.location{
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    padding-top: 20px;
    color: var(--bg-color);
}


.temperature{
    font-size: 2.5rem;
    color: var(--bg-color);
    margin-top: 0px;
}
.sunny{
    left: 0;
    position: absolute;
   margin-right: auto;
   width: 150px;
   height: 150px;
}

/* !Icons*/

* {
    margin: 0;
    padding: 0;
   }
  
  .element {
    height: 50px;
    width: 50px;
    margin: 10px;
   }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
   }
  
   .elements {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     
   }
  
  .white {fill:#FFFFFF}
  .gray {fill:#E0E0E0}
  .yellow {fill:#FFEB3B}